p {
    font-size: 16px;
    border: 1px;
    border-style: solid;
  }
/* Class selectors start with - for all lines with that class
* ID selectors begin with # - for that only line */
  .favorites {
    background-color: yellow;

    padding: 20px;
  }

  #name {
    border-radius: 2em;
    margin: 15px;
  }

  ul * {
    text-decoration: none;
    color: pink;
  }

  .favorite-food {
    display: inline-block;
    padding: 5px;
  }

  .hero {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Descendant Selectors - beginning of this code will be the
  * name of the target and the * will ensure all targets will be
  * unified */
  