p {
    font-size: 16px;
    border: 1px;
    border-style: solid;
  }
/* Class selectors start with - for all lines with that class
* ID selectors begin with # - for that only line */
  .favorites {
    background-color: #9df9ef;

    padding: 20px;
  }

  #name {
    border-radius: 2em;
    margin: 15px;
  }

  ul * {
    text-decoration: none;
    color: #ffa8b6;
  }

  .favorite-food {
    display: inline-block;
    padding: 5px;
  }

  .hero {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  footer {
    position: fixed;
    bottom: -15px;
    left: 8px;
  }

  .section-title {
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    font-size: 2em;
  }

  /* Descendant Selectors - beginning of this code will be the
  * name of the target and the * will ensure all targets will be
  * unified */
  